# Node modules
node_modules/

# Next.js build output
.next/

# Production
out/

# Local env files
.env.local
.env.*.local
.env

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Mac
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Parcel cache
.cache/

# Build outputs
dist/node_modules/
.next/
.env
